@page "/"
@using WeVote.Client.GetGeolocation;
@inject HttpClient HttpClient
<PageTitle>Index</PageTitle>

<h2> @getGeolocationResult.Name y tu currency es @currency</h2>

@code {
    GetGeolocationResult getGeolocationResult = new();
    string currency;
    protected override async Task OnInitializedAsync()
    {
        getGeolocationResult = await HttpClient.GetFromJsonAsync<GetGeolocationResult>("https://localhost:44302/Geolocation");

        var dictionary = await HttpClient
                                .GetFromJsonAsync<Currency> 
                                ($"https://localhost:44302/currencies?currency=USD");
        currency = dictionary.Name + dictionary.Symbol;

    }
}